SERVICE_USER_POSTGRES=pygenic
SERVICE_PASSWORD_64_POSTGRES=replace-with-a-random-64-character-alphanumeric-password
SERVICE_BASE64_64_ARCAPIKEY=replace-with-a-random-api-key
SERVICE_REALBASE64_64_OTPPER=replace-with-a-random-otp-pepper
ALLOWED_ORIGINS=*
